In [1]:
# 바다 코끼리 연산자

In [2]:
[a := 1, 2, 3]

[1, 2, 3]

In [3]:
a

1

In [4]:
if (b:=0) > 1:
    print('A')

In [5]:
b

0

In [6]:
import seaborn as sns

In [7]:
tips = sns.load_dataset('tips')

In [8]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

# 특정 컬럼 안의 값들이 전부 잘못된 경우
- 전체적인 수정이 필요한 경우...
# apply, applymap, map

# element-wise
# map
- ( Series / callable / dict )인 경우에만 사용가능다. (시리즈는 한 줄을 말한다.)

# applymap
- ( df / callable , dict(x), df / )

# applymap
...

# object data에 str붙이면 문자열과 정규식 관련 라이브러리 사용가능

In [23]:
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [24]:
tips.select_dtypes('float64').applymap(lmabda x: x+1)

SyntaxError: invalid syntax (Temp/ipykernel_27756/2764398994.py, line 1)

In [15]:
# data가 object 또는 category 일 때 사용한다.
tips.sex.value_counts()

Male      157
Female     87
Name: sex, dtype: int64

In [14]:
# 성별 컬럼이 전체적으로 잘못되었을 때, 수정하고 싶을 때
tips.sex.map(lambda x: 'F' if x=='Female' else 'M')

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: category
Categories (2, object): ['M', 'F']

In [21]:
tips.sex.map(lambda x: x)

0      Female
1        Male
2        Male
3        Male
4      Female
        ...
239      Male
240    Female
241      Male
242      Male
243    Female
Name: sex, Length: 244, dtype: category
Categories (2, object): ['Male', 'Female']

In [16]:
import numpy as np

In [17]:
a = [1,2,1,2,1,3,1,2,3,5,5,1]

In [18]:
set(a)

{1, 2, 3, 5}

In [19]:
np.unique(a, return_counts=True)

(array([1, 2, 3, 5]), array([5, 3, 2, 2], dtype=int64))

In [22]:
tips.sex.map({'Female':'F', 'Male':'M'})

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: category
Categories (2, object): ['M', 'F']

# MPG

In [25]:
mpg = sns.load_dataset('mpg')

In [26]:
 mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [29]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [30]:
mpg.name.str.split(' ', expand=True)

             0          1       2     3     4     5
0    chevrolet   chevelle  malibu  None  None  None
1        buick    skylark     320  None  None  None
2     plymouth  satellite    None  None  None  None
3          amc      rebel     sst  None  None  None
4         ford     torino    None  None  None  None
..         ...        ...     ...   ...   ...   ...
393       ford    mustang      gl  None  None  None
394         vw     pickup    None  None  None  None
395      dodge    rampage    None  None  None  None
396       ford     ranger    None  None  None  None
397      chevy       s-10    None  None  None  None

[398 rows x 6 columns]

In [33]:
mpg['name'].apply(lambda x: x)

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 398, dtype: object

In [41]:
a = '한소희  너무 예쁘다'

In [42]:
a.split()

['한소희', '너무', '예쁘다']

In [43]:
','.join(a)

'한,소,희, , ,너,무, ,예,쁘,다'

In [38]:
' '.join('abcd')

'a b c d'

In [39]:
[x for x in dir(a) if 'split' in x]

['rsplit', 'split', 'splitlines']

In [44]:
import pandas as pd

In [50]:
tb = pd.read_csv('/data/tb.csv')

OSError: [Errno 22] Invalid argument: '..\\data\tb.csv'

In [51]:
# d
pd.read_csv('/data/pew.txt', sep='\t')

FileNotFoundError: [Errno 2] No such file or directory: '/data/pew.txt'

In [62]:
pew = pd.read('/data/pew.txt', delimiter='\t')
pew

FileNotFoundError: [Errno 2] No such file or directory: '/data/pew.txt'

In [ ]:
pew.melt('religion', v var_name='ocp', validue_namd= 'freq')

In [66]:
pd.read_csv('https://github.com/hadley/tidy-data/blob/master/data/billboard.csv', encoding='utf-8')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 27, saw 367