In [123]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.schema import MetaData, Table, Column, ForeignKey
from sqlalchemy.types import Integer, Text, String
from sqlalchemy import create_engine

In [29]:
# ORM -> Object / Data Mapping(engine)
base = declarative_base()

In [30]:
class TableA(base):
    __tablename__ = 'T_A'
    
    PK = Column('pk', Integer, primary_key=True)
    NAME = Column('name', Text, nullable=False) # NotNull

In [31]:
TableA.__table__

Table('T_A', MetaData(), Column('pk', Integer(), table=<T_A>, primary_key=True, nullable=False), Column('name', Text(), table=<T_A>, nullable=False), schema=None)

In [32]:
TableA.__tablename__

'T_A'

In [33]:
a = TableA(NAME='아무나')

In [34]:
a.PK, a.NAME

(None, '아무나')

In [37]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [38]:
# ORM Core
base.metadata.create_all(engine)

2023-03-08 10:02:26,929 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 10:02:26,930 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_A")
2023-03-08 10:02:26,931 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 10:02:26,933 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_A")
2023-03-08 10:02:26,934 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 10:02:26,936 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_A" (
	pk INTEGER NOT NULL,
	name TEXT NOT NULL,
	PRIMARY KEY (pk)
)


2023-03-08 10:02:26,937 INFO sqlalchemy.engine.Engine [no key 0.00094s] ()
2023-03-08 10:02:26,939 INFO sqlalchemy.engine.Engine COMMIT

Class 선언할 때, 오류 나는 이유 (여러 번 수행해서)\
\
base.metadata.clear() ==> Table 객체 삭제\
base.registry.dispose() ==> Class 삭제\
위 코드 실행 후 한 번만 수행

In [39]:
base.metadata.tables

FacadeDict({'T_A': Table('T_A', MetaData(), Column('pk', Integer(), table=<T_A>, primary_key=True, nullable=False), Column('name', Text(), table=<T_A>, nullable=False), schema=None)})

In [40]:
# ORM Session
from sqlalchemy.orm import sessionmaker

In [42]:
Session = sessionmaker(engine)
session = Session()

In [43]:
session.is_modified(a), session.dirty

(True, IdentitySet([]))

In [44]:
session.add(a)

In [45]:
session.commit()

2023-03-08 10:02:57,505 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 10:02:57,508 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" (name) VALUES (?)
2023-03-08 10:02:57,509 INFO sqlalchemy.engine.Engine [generated in 0.00073s] ('아무나',)
2023-03-08 10:02:57,510 INFO sqlalchemy.engine.Engine COMMIT

In [46]:
a.PK

2023-03-08 10:02:58,403 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 10:02:58,409 INFO sqlalchemy.engine.Engine SELECT "T_A".pk AS "T_A_pk", "T_A".name AS "T_A_name"
FROM "T_A"
WHERE "T_A".pk = ?
2023-03-08 10:02:58,409 INFO sqlalchemy.engine.Engine [generated in 0.00079s] (1,)

1

In [47]:
b = session.query(TableA).one()

2023-03-08 10:03:00,330 INFO sqlalchemy.engine.Engine SELECT "T_A".pk AS "T_A_pk", "T_A".name AS "T_A_name"
FROM "T_A"
2023-03-08 10:03:00,330 INFO sqlalchemy.engine.Engine [generated in 0.00114s] ()

In [48]:
b.PK # 로그인 회원정보

1

In [49]:
b.NAME = '??????'

In [50]:
session.dirty

IdentitySet([<__main__.TableA object at 0x0000024BDFB43430>])

In [51]:
b.NAME

'??????'

In [52]:
session.commit()

2023-03-08 10:03:02,852 INFO sqlalchemy.engine.Engine UPDATE "T_A" SET name=? WHERE "T_A".pk = ?
2023-03-08 10:03:02,854 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ('??????', 1)
2023-03-08 10:03:02,856 INFO sqlalchemy.engine.Engine COMMIT

In [53]:
session.query(TableA).where(TableA.PK == 1).one().NAME

2023-03-08 10:03:03,437 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 10:03:03,439 INFO sqlalchemy.engine.Engine SELECT "T_A".pk AS "T_A_pk", "T_A".name AS "T_A_name"
FROM "T_A"
WHERE "T_A".pk = ?
2023-03-08 10:03:03,440 INFO sqlalchemy.engine.Engine [generated in 0.00119s] (1,)

'??????'

In [54]:
session.add_all([TableA(NAME='2'), TableA(NAME='3'), TableA(NAME='4')])
session.commit()

2023-03-08 10:03:03,907 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" (name) VALUES (?)
2023-03-08 10:03:03,908 INFO sqlalchemy.engine.Engine [cached since 6.4s ago] ('2',)
2023-03-08 10:03:03,910 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" (name) VALUES (?)
2023-03-08 10:03:03,910 INFO sqlalchemy.engine.Engine [cached since 6.402s ago] ('3',)
2023-03-08 10:03:03,912 INFO sqlalchemy.engine.Engine INSERT INTO "T_A" (name) VALUES (?)
2023-03-08 10:03:03,912 INFO sqlalchemy.engine.Engine [cached since 6.404s ago] ('4',)
2023-03-08 10:03:03,913 INFO sqlalchemy.engine.Engine COMMIT

In [57]:
inst = session.query(TableA).all()

2023-03-08 10:03:09,064 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 10:03:09,072 INFO sqlalchemy.engine.Engine SELECT "T_A".pk AS "T_A_pk", "T_A".name AS "T_A_name"
FROM "T_A"
2023-03-08 10:03:09,073 INFO sqlalchemy.engine.Engine [cached since 8.741s ago] ()

In [58]:
a is b, b is inst[0], a is inst[2]

(True, True, False)

In [59]:
inst[0].PK, inst[1].PK, inst[2].PK

(1, 2, 3)

In [60]:
session.delete(a)
session.commit()

2023-03-08 10:03:10,615 INFO sqlalchemy.engine.Engine DELETE FROM "T_A" WHERE "T_A".pk = ?
2023-03-08 10:03:10,617 INFO sqlalchemy.engine.Engine [generated in 0.00196s] (1,)
2023-03-08 10:03:10,619 INFO sqlalchemy.engine.Engine COMMIT

In [61]:
# delete했으나 메모리상에 존재한다 아직
a.PK

1

In [62]:
session.dirty

IdentitySet([])

In [63]:
session.is_modified(a)
# 객체가 수정됐는지 (in memory -< Class의 인스턴스 ; 물리적 DB와 상관없다.)

False

In [64]:
a.NAME = 'dd'

In [65]:
# instance가 수정되었는지 보는 것
session.is_modified(a)

True

In [66]:
# 아무것도 안 나온다.
# 세션은 데이터랑 인스턴스를 매핑하는 걸 관리해주는데 날려서 핸들링할 값이 없기 때문이다.
# 
session.dirty
# database와 mapped 인스턴스 사이의 변화가 있는지를 알려주는 값
# a를 지웠기 때문에 세션에서 관리할 값이 없다.
# 하지만 instance는 살아있기 때문에 modified에는 값이 변화됐다고 나온다.

IdentitySet([])

In [67]:
session.commit()

In [68]:
type(inst)

list

In [69]:
len(inst)

4

In [70]:
inst.pop(0), len(inst)
# a 객체를 memory에서 삭제한 것이다.

(<__main__.TableA at 0x24bdfb43430>, 3)

# pending
add나 add_all 하면 바로 적용 안 된다.\
commit을 해야 db에 반영이된다.

In [ ]:
# 그래서 이런 식으로 코드를 짜기도 한다.
try:
    session.begin()
    session 작업들 ..
    session.commit()
except:
    session.rollback()

In [71]:
session.close()
engine.dispose()
base.metadata.clear()

In [72]:
base.metadata.tables

FacadeDict({})

# 실습
Playlist (ORM 버전)

In [126]:
session.close()
engine.dispose()
base.metadata.clear()
base.registry.dispose()

In [ ]:
in - memory                                         DBMS(SQLite)
                session(instance-data)
1. base 상속받은 Class 선언
2. base.metadata.tables (...)
3. base.create_all()           -------------->     Table 생성 (SQL X, Core알아서)
4. session.bind = engine (객체-data)
5. Class로부터 instance 생성
6. session.add(instance) : pending
7.                                                   session.commit()  (INSERT)
instance

In [127]:
class Artist(base):
    __tablename__ = "Artist"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)

class Album(base):
    __tablename__ = "Album"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    artist_id = Column(Integer, ForeignKey("Artist.id"))
    
class Genre(base):
    __tablename__ = "Genre"
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    
class Track(base):
    __tablename__ = "Track"
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    length = Column(Integer)
    rating = Column(Integer)
    count = Column(Integer)
    album_id = Column(Integer, ForeignKey("Album.id"))
    genre_id = Column(Integer, ForeignKey("Genre.id"))

In [129]:
base.metadata.create_all(engine)

2023-03-08 12:17:49,378 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:17:49,386 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Artist")
2023-03-08 12:17:49,386 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,386 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Artist")
2023-03-08 12:17:49,386 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,386 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Album")
2023-03-08 12:17:49,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,394 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Album")
2023-03-08 12:17:49,394 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,396 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Genre")
2023-03-08 12:17:49,397 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,399 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Genre")
2023-03-08 12:17:49,399 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,402 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Track")
2023-03-08 12:17:49,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,403 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Track")
2023-03-08 12:17:49,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:17:49,407 INFO sqlalchemy.engine.Engine
CREATE TABLE "Artist" (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2023-03-08 12:17:49,407 INFO sqlalchemy.engine.Engine [no key 0.00085s] ()
2023-03-08 12:17:49,409 INFO sqlalchemy.engine.Engine
CREATE TABLE "Genre" (
	id INTEGER NOT NULL,
	name VARCHAR,
	PRIMARY KEY (id)
)


2023-03-08 12:17:49,410 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2023-03-08 12:17:49,411 INFO sqlalchemy.engine.Engine
CREATE TABLE "Album" (
	id INTEGER NOT NULL,
	title VARCHAR,
	artist_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(artist_id) REFERENCES "Artist" (id)
)


2023-03-08 12:17:49,411 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2023-03-08 12:17:49,415 INFO sqlalchemy.engine.Engine
CREATE TABLE "Track" (
	id INTEGER NOT NULL,
	title VARCHAR,
	length INTEGER,
	rating INTEGER,
	count INTEGER,
	album_id INTEGER,
	genre_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(album_id) REFERENCES "Album" (id),
	FOREIGN KEY(genre_id) REFERENCES "Genre" (id)
)


2023-03-08 12:17:49,415 INFO sqlalchemy.engine.Engine [no key 0.00061s] ()
2023-03-08 12:17:49,415 INFO sqlalchemy.engine.Engine COMMIT

In [131]:
# session.rollback()

C:\Users\dlel2\AppData\Local\Temp/ipykernel_23544/1760783211.py:1: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  session.rollback()

In [134]:
artist1 = Artist(name="Led Zepplin")
artist2 = Artist(name="AC/DC")

session.add_all([artist1, artist2])
session.commit()

album = [Album(title="IV", artist_id=artist1.id),
        Album(title="Who Made Who", artist_id=artist2.id)]

session.add_all(album)
session.commit()

session.add_all([Genre(name="Rock"), Genre(name="Metal")])
session.commit()

album1 = session.query(Album).filter(Album.artist_id==artist1.id).one()
album2 = session.query(Album).filter(Album.artist_id==artist2.id).one()

genre1 = session.query(Genre).filter(Genre.name=="Rock").filter(Genre.id==1).one()
genre2 = session.query(Genre).filter(Genre.name=="Metal").filter(Genre.id==2).one()

track = [Track(title="Black Dog", rating=5, length=297, count=0, album_id=album1.id, genre_id=genre1.id),
         Track(title="Stairway", rating=5, length=482, count=0, album_id=album1.id, genre_id=genre2.id),
         Track(title="About to rock", rating=5, length=313, count=0, album_id=album2.id, genre_id=genre1.id),
         Track(title="Who Made Who", rating=5, length=297, count=0, album_id=album2.id, genre_id=genre2.id)]

session.add_all(track)
session.commit()

2023-03-08 12:24:45,116 INFO sqlalchemy.engine.Engine INSERT INTO "Artist" (name) VALUES (?)
2023-03-08 12:24:45,118 INFO sqlalchemy.engine.Engine [cached since 511.4s ago] ('Led Zepplin',)
2023-03-08 12:24:45,120 INFO sqlalchemy.engine.Engine INSERT INTO "Artist" (name) VALUES (?)
2023-03-08 12:24:45,121 INFO sqlalchemy.engine.Engine [cached since 511.4s ago] ('AC/DC',)
2023-03-08 12:24:45,122 INFO sqlalchemy.engine.Engine COMMIT
2023-03-08 12:24:45,124 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:24:45,125 INFO sqlalchemy.engine.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2023-03-08 12:24:45,126 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] (5,)
2023-03-08 12:24:45,128 INFO sqlalchemy.engine.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2023-03-08 12:24:45,129 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] (6,)
2023-03-08 12:24:45,131 INFO sqlalchemy.engine.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2023-03-08 12:24:45,131 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] ('IV', 5)
2023-03-08 12:24:45,134 INFO sqlalchemy.engine.Engine INSERT INTO "Album" (title, artist_id) VALUES (?, ?)
2023-03-08 12:24:45,135 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] ('Who Made Who', 6)
2023-03-08 12:24:45,137 INFO sqlalchemy.engine.Engine COMMIT
2023-03-08 12:24:45,139 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:24:45,140 INFO sqlalchemy.engine.Engine INSERT INTO "Genre" (name) VALUES (?)
2023-03-08 12:24:45,141 INFO sqlalchemy.engine.Engine [cached since 24.32s ago] ('Rock',)
2023-03-08 12:24:45,143 INFO sqlalchemy.engine.Engine INSERT INTO "Genre" (name) VALUES (?)
2023-03-08 12:24:45,143 INFO sqlalchemy.engine.Engine [cached since 24.32s ago] ('Metal',)
2023-03-08 12:24:45,144 INFO sqlalchemy.engine.Engine COMMIT
2023-03-08 12:24:45,145 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:24:45,147 INFO sqlalchemy.engine.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2023-03-08 12:24:45,148 INFO sqlalchemy.engine.Engine [cached since 371.8s ago] (5,)
2023-03-08 12:24:45,149 INFO sqlalchemy.engine.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".artist_id = ?
2023-03-08 12:24:45,150 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] (5,)
2023-03-08 12:24:45,151 INFO sqlalchemy.engine.Engine SELECT "Artist".id AS "Artist_id", "Artist".name AS "Artist_name"
FROM "Artist"
WHERE "Artist".id = ?
2023-03-08 12:24:45,152 INFO sqlalchemy.engine.Engine [cached since 371.8s ago] (6,)
2023-03-08 12:24:45,153 INFO sqlalchemy.engine.Engine SELECT "Album".id AS "Album_id", "Album".title AS "Album_title", "Album".artist_id AS "Album_artist_id"
FROM "Album"
WHERE "Album".artist_id = ?
2023-03-08 12:24:45,154 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] (6,)
2023-03-08 12:24:45,155 INFO sqlalchemy.engine.Engine SELECT "Genre".id AS "Genre_id", "Genre".name AS "Genre_name"
FROM "Genre"
WHERE "Genre".name = ? AND "Genre".id = ?
2023-03-08 12:24:45,155 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] ('Rock', 1)
2023-03-08 12:24:45,157 INFO sqlalchemy.engine.Engine SELECT "Genre".id AS "Genre_id", "Genre".name AS "Genre_name"
FROM "Genre"
WHERE "Genre".name = ? AND "Genre".id = ?
2023-03-08 12:24:45,160 INFO sqlalchemy.engine.Engine [cached since 371.7s ago] ('Metal', 2)
2023-03-08 12:24:45,162 INFO sqlalchemy.engine.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2023-03-08 12:24:45,163 INFO sqlalchemy.engine.Engine [generated in 0.00092s] ('Black Dog', 297, 5, 0, 5, 1)
2023-03-08 12:24:45,165 INFO sqlalchemy.engine.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2023-03-08 12:24:45,166 INFO sqlalchemy.engine.Engine [cached since 0.003336s ago] ('Stairway', 482, 5, 0, 5, 2)
2023-03-08 12:24:45,167 INFO sqlalchemy.engine.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2023-03-08 12:24:45,168 INFO sqlalchemy.engine.Engine [cached since 0.005283s ago] ('About to rock', 313, 5, 0, 6, 1)
2023-03-08 12:24:45,169 INFO sqlalchemy.engine.Engine INSERT INTO "Track" (title, length, rating, count, album_id, genre_id) VALUES (?, ?, ?, ?, ?, ?)
2023-03-08 12:24:45,169 INFO sqlalchemy.engine.Engine [cached since 0.006557s ago] ('Who Made Who', 297, 5, 0, 6, 2)
2023-03-08 12:24:45,170 INFO sqlalchemy.engine.Engine COMMIT

# 다시 수업

In [135]:
session.close()
engine.dispose()
base.metadata.clear()
base.registry.dispose()

In [136]:
engine = create_engine('sqlite:///playlist.db', echo=True)

In [137]:
# 
base.metadata.reflect(engine)

2023-03-08 12:24:56,577 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-03-08 12:24:56,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,580 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("album")
2023-03-08 12:24:56,581 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,583 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,584 INFO sqlalchemy.engine.Engine [raw sql] ('album',)
2023-03-08 12:24:56,586 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("album")
2023-03-08 12:24:56,586 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,588 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("album")
2023-03-08 12:24:56,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,590 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,591 INFO sqlalchemy.engine.Engine [raw sql] ('album',)
2023-03-08 12:24:56,592 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("album")
2023-03-08 12:24:56,592 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,595 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("album")
2023-03-08 12:24:56,595 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,597 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("album")
2023-03-08 12:24:56,597 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,598 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("album")
2023-03-08 12:24:56,599 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,600 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,600 INFO sqlalchemy.engine.Engine [raw sql] ('album',)
2023-03-08 12:24:56,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("artist")
2023-03-08 12:24:56,604 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,606 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,607 INFO sqlalchemy.engine.Engine [raw sql] ('artist',)
2023-03-08 12:24:56,609 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("artist")
2023-03-08 12:24:56,610 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,611 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("artist")
2023-03-08 12:24:56,612 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,612 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,613 INFO sqlalchemy.engine.Engine [raw sql] ('artist',)
2023-03-08 12:24:56,615 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("artist")
2023-03-08 12:24:56,616 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,617 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("artist")
2023-03-08 12:24:56,618 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,620 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("artist")
2023-03-08 12:24:56,620 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,622 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("artist")
2023-03-08 12:24:56,622 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,623 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,624 INFO sqlalchemy.engine.Engine [raw sql] ('artist',)
2023-03-08 12:24:56,626 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("genre")
2023-03-08 12:24:56,627 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,629 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,629 INFO sqlalchemy.engine.Engine [raw sql] ('genre',)
2023-03-08 12:24:56,632 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("genre")
2023-03-08 12:24:56,632 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,634 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("genre")
2023-03-08 12:24:56,634 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,635 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,636 INFO sqlalchemy.engine.Engine [raw sql] ('genre',)
2023-03-08 12:24:56,637 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genre")
2023-03-08 12:24:56,637 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,638 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genre")
2023-03-08 12:24:56,638 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,639 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("genre")
2023-03-08 12:24:56,640 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,643 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("genre")
2023-03-08 12:24:56,658 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,661 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine [raw sql] ('genre',)
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("track")
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine [raw sql] ('track',)
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("track")
2023-03-08 12:24:56,662 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,675 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("track")
2023-03-08 12:24:56,676 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,676 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,677 INFO sqlalchemy.engine.Engine [raw sql] ('track',)
2023-03-08 12:24:56,679 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("track")
2023-03-08 12:24:56,680 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,681 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("track")
2023-03-08 12:24:56,682 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,683 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("track")
2023-03-08 12:24:56,683 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,685 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("track")
2023-03-08 12:24:56,686 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:24:56,687 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2023-03-08 12:24:56,687 INFO sqlalchemy.engine.Engine [raw sql] ('track',)

In [138]:
# 이게 내가 가진 테이블 목록들이다.
base.metadata.tables.keys()

dict_keys(['album', 'artist', 'genre', 'track'])

In [147]:
base.metadata.tables['album'].columns.keys()

['pk', 'name', 'fk']

In [148]:
class Album(base):
    __table__ = base.metadata.tables['album']
    # 프로퍼티 = 컬럼객체 생성

class Artist(base):
    __table__ = base.metadata.tables['artist']
    
class Genre(base):
    __table__ = base.metadata.tables['genre']
    
class Track(base):
    __table__ = base.metadata.tables['track']

C:\Users\dlel2\AppData\Local\Temp/ipykernel_23544/1011768358.py:1: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Album, and will be replaced in the string-lookup table.
  class Album(base):

In [149]:
Session = sessionmaker(engine)
session = Session()

In [150]:
albumList = session.query(Album).all()

2023-03-08 12:41:01,670 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:41:01,670 INFO sqlalchemy.engine.Engine SELECT album.pk AS album_pk, album.name AS album_name, album.fk AS album_fk
FROM album
2023-03-08 12:41:01,670 INFO sqlalchemy.engine.Engine [generated in 0.00144s] ()

In [151]:
albumList[0].pk, albumList[0].name

(1, '아무개1')

In [152]:
base.metadata.tables['album'].c.pk

Column('pk', INTEGER(), table=<album>, primary_key=True)

In [153]:
type(base.metadata.tables['album'].c.pk)

sqlalchemy.sql.schema.Column

In [154]:
session.query(Artist.name, Album.name).select_from(Artist)\
.join(Album, Album.fk==Artist.pk).all()

2023-03-08 12:41:07,824 INFO sqlalchemy.engine.Engine SELECT artist.name AS artist_name, album.name AS album_name
FROM artist JOIN album ON album.fk = artist.pk
2023-03-08 12:41:07,824 INFO sqlalchemy.engine.Engine [generated in 0.00146s] ()

[('가수1', '아무개1'), ('가수2', '아무개2')]

In [155]:
Album.artist = Artist

In [156]:
base.metadata.tables

FacadeDict({'album': Table('album', MetaData(), Column('pk', INTEGER(), table=<album>, primary_key=True), Column('name', TEXT(), table=<album>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDF573880>, for_update=False)), Column('fk', INTEGER(), table=<album>, nullable=False), schema=None), 'artist': Table('artist', MetaData(), Column('pk', INTEGER(), table=<artist>, primary_key=True), Column('name', TEXT(), table=<artist>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDF5732B0>, for_update=False)), schema=None), 'genre': Table('genre', MetaData(), Column('pk', INTEGER(), table=<genre>, primary_key=True), Column('name', TEXT(), table=<genre>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDFF71340>, for_update=False)), schema=None), 'track': Table('track', MetaData(), Column('pk', INTEGER(), table=<track>, primary_key=True), Column('name', TEXT(), table=<track>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDFFD6790>, for_update=False)), Column('length', INTEGER(), table=<track>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDF2861F0>, for_update=False)), Column('rating', INTEGER(), table=<track>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDF286250>, for_update=False)), Column('count', INTEGER(), table=<track>, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000024BDF286EB0>, for_update=False)), Column('fk1', INTEGER(), table=<track>, nullable=False), Column('fk2', INTEGER(), table=<track>, nullable=False), schema=None)})

In [157]:
session.close()
engine.dispose()
base.metadata.clear()
base.registry.dispose()

2023-03-08 12:41:15,574 INFO sqlalchemy.engine.Engine ROLLBACK

In [158]:
class User(base):
    __tablename__ = "T_USER"
    
    pk = Column('PK', Integer, primary_key=True)
    name = Column('NAME', Text, nullable=False)
    
    def __repr__(self):
        return 'PK:{}, NAME:{}'.format(self.pk, self.name)

class Address(base):
    __tablename__ = "T_ADDRESS"
    
    pk = Column('PK', Integer, primary_key=True)
    name = Column('NAME', Text, nullable=False)
    fk = Column('FK', Integer, ForeignKey("T_USER.PK"))
    
    def __repr__(self):
        return 'PK:{}, NAME:{}, FK:{}'.format(self.pk, self.name, self.fk)

In [159]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [160]:
base.metadata.create_all(engine)

2023-03-08 12:41:20,787 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:41:20,789 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_USER")
2023-03-08 12:41:20,789 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:41:20,792 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_USER")
2023-03-08 12:41:20,792 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:41:20,792 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("T_ADDRESS")
2023-03-08 12:41:20,792 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:41:20,797 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("T_ADDRESS")
2023-03-08 12:41:20,797 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-08 12:41:20,799 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_USER" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	PRIMARY KEY ("PK")
)


2023-03-08 12:41:20,799 INFO sqlalchemy.engine.Engine [no key 0.00098s] ()
2023-03-08 12:41:20,799 INFO sqlalchemy.engine.Engine
CREATE TABLE "T_ADDRESS" (
	"PK" INTEGER NOT NULL,
	"NAME" TEXT NOT NULL,
	"FK" INTEGER,
	PRIMARY KEY ("PK"),
	FOREIGN KEY("FK") REFERENCES "T_USER" ("PK")
)


2023-03-08 12:41:20,804 INFO sqlalchemy.engine.Engine [no key 0.00099s] ()
2023-03-08 12:41:20,804 INFO sqlalchemy.engine.Engine COMMIT

In [161]:
User(name='아무개')

PK:None, NAME:아무개

In [162]:
Session = sessionmaker(engine)
session = Session()

In [163]:
session.add(User(name='아무개'))
session.commit()

2023-03-08 12:41:25,418 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:41:25,422 INFO sqlalchemy.engine.Engine INSERT INTO "T_USER" ("NAME") VALUES (?)
2023-03-08 12:41:25,422 INFO sqlalchemy.engine.Engine [generated in 0.00144s] ('아무개',)
2023-03-08 12:41:25,426 INFO sqlalchemy.engine.Engine COMMIT

In [164]:
userA = session.query(User).one()

2023-03-08 12:41:26,084 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:41:26,090 INFO sqlalchemy.engine.Engine SELECT "T_USER"."PK" AS "T_USER_PK", "T_USER"."NAME" AS "T_USER_NAME"
FROM "T_USER"
2023-03-08 12:41:26,090 INFO sqlalchemy.engine.Engine [generated in 0.00161s] ()

In [165]:
userA

PK:1, NAME:아무개

In [166]:
userB = User(name='아무개2')

In [167]:
session.add(userB)
session.commit()

2023-03-08 12:41:29,878 INFO sqlalchemy.engine.Engine INSERT INTO "T_USER" ("NAME") VALUES (?)
2023-03-08 12:41:29,883 INFO sqlalchemy.engine.Engine [cached since 4.462s ago] ('아무개2',)
2023-03-08 12:41:29,883 INFO sqlalchemy.engine.Engine COMMIT

In [168]:
session.add_all([Address(name='주소1', fk=userA.pk),
                 Address(name='주소2', fk=userB.pk)])

2023-03-08 12:41:31,356 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:41:31,358 INFO sqlalchemy.engine.Engine SELECT "T_USER"."PK" AS "T_USER_PK", "T_USER"."NAME" AS "T_USER_NAME"
FROM "T_USER"
WHERE "T_USER"."PK" = ?
2023-03-08 12:41:31,358 INFO sqlalchemy.engine.Engine [generated in 0.00266s] (1,)
2023-03-08 12:41:31,364 INFO sqlalchemy.engine.Engine SELECT "T_USER"."PK" AS "T_USER_PK", "T_USER"."NAME" AS "T_USER_NAME"
FROM "T_USER"
WHERE "T_USER"."PK" = ?
2023-03-08 12:41:31,364 INFO sqlalchemy.engine.Engine [cached since 0.00765s ago] (2,)

In [169]:
session.commit()

2023-03-08 12:41:32,563 INFO sqlalchemy.engine.Engine INSERT INTO "T_ADDRESS" ("NAME", "FK") VALUES (?, ?)
2023-03-08 12:41:32,563 INFO sqlalchemy.engine.Engine [generated in 0.00169s] ('주소1', 1)
2023-03-08 12:41:32,563 INFO sqlalchemy.engine.Engine INSERT INTO "T_ADDRESS" ("NAME", "FK") VALUES (?, ?)
2023-03-08 12:41:32,563 INFO sqlalchemy.engine.Engine [cached since 0.006182s ago] ('주소2', 2)
2023-03-08 12:41:32,571 INFO sqlalchemy.engine.Engine COMMIT

In [170]:
session.query(Address).all()[1]

2023-03-08 12:41:33,858 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-08 12:41:33,866 INFO sqlalchemy.engine.Engine SELECT "T_ADDRESS"."PK" AS "T_ADDRESS_PK", "T_ADDRESS"."NAME" AS "T_ADDRESS_NAME", "T_ADDRESS"."FK" AS "T_ADDRESS_FK"
FROM "T_ADDRESS"
2023-03-08 12:41:33,866 INFO sqlalchemy.engine.Engine [generated in 0.00128s] ()

PK:2, NAME:주소2, FK:2

In [171]:
type(session.query(Address).all()[1])

2023-03-08 12:41:35,390 INFO sqlalchemy.engine.Engine SELECT "T_ADDRESS"."PK" AS "T_ADDRESS_PK", "T_ADDRESS"."NAME" AS "T_ADDRESS_NAME", "T_ADDRESS"."FK" AS "T_ADDRESS_FK"
FROM "T_ADDRESS"
2023-03-08 12:41:35,390 INFO sqlalchemy.engine.Engine [cached since 1.526s ago] ()

__main__.Address

# Relation을 만들어보자
클래스 새롭게 등록할거라서 날리고 시작할거임

In [172]:
base.metadata.clear()
base.registry.dispose()

In [173]:
from sqlalchemy.orm import relationship

In [174]:
class User(base):
    __tablename__ = "T_USER"
    
    pk = Column('PK', Integer, primary_key=True)
    name = Column('NAME', Text, nullable=False)
    addresses = relationship('Address', back_populates='user')
    
    def __repr__(self):
        return 'PK:{}, NAME:{}'.format(self.pk, self.name)

class Address(base):
    __tablename__ = "T_ADDRESS"
    
    pk = Column('PK', Integer, primary_key=True)
    name = Column('NAME', Text, nullable=False)
    fk = Column('FK', Integer, ForeignKey("T_USER.PK"))
    user = relationship('User', back_populates='addresses', uselist=False)
    
    def __repr__(self):
        return 'PK:{}, NAME:{}, FK:{}'.format(self.pk, self.name, self.fk)

In [175]:
type(session.query(User).all()[0]) # User

2023-03-08 12:41:40,147 INFO sqlalchemy.engine.Engine SELECT "T_USER"."PK" AS "T_USER_PK", "T_USER"."NAME" AS "T_USER_NAME"
FROM "T_USER"
2023-03-08 12:41:40,147 INFO sqlalchemy.engine.Engine [generated in 0.00272s] ()

__main__.User

In [176]:
type(session.query(User).all()[0].addresses[0])

2023-03-08 12:41:40,788 INFO sqlalchemy.engine.Engine SELECT "T_USER"."PK" AS "T_USER_PK", "T_USER"."NAME" AS "T_USER_NAME"
FROM "T_USER"
2023-03-08 12:41:40,788 INFO sqlalchemy.engine.Engine [cached since 0.6419s ago] ()
2023-03-08 12:41:40,796 INFO sqlalchemy.engine.Engine SELECT "T_ADDRESS"."PK" AS "T_ADDRESS_PK", "T_ADDRESS"."NAME" AS "T_ADDRESS_NAME", "T_ADDRESS"."FK" AS "T_ADDRESS_FK"
FROM "T_ADDRESS"
WHERE ? = "T_ADDRESS"."FK"
2023-03-08 12:41:40,796 INFO sqlalchemy.engine.Engine [generated in 0.00130s] (1,)

__main__.Address

In [177]:
userA = session.query(User).all()[0]

2023-03-08 12:41:43,380 INFO sqlalchemy.engine.Engine SELECT "T_USER"."PK" AS "T_USER_PK", "T_USER"."NAME" AS "T_USER_NAME"
FROM "T_USER"
2023-03-08 12:41:43,381 INFO sqlalchemy.engine.Engine [cached since 3.233s ago] ()

In [178]:
userA.addresses[0] is session.query(Address).all()[0]

2023-03-08 12:41:44,612 INFO sqlalchemy.engine.Engine SELECT "T_ADDRESS"."PK" AS "T_ADDRESS_PK", "T_ADDRESS"."NAME" AS "T_ADDRESS_NAME", "T_ADDRESS"."FK" AS "T_ADDRESS_FK"
FROM "T_ADDRESS"
WHERE ? = "T_ADDRESS"."FK"
2023-03-08 12:41:44,614 INFO sqlalchemy.engine.Engine [cached since 3.819s ago] (1,)
2023-03-08 12:41:44,614 INFO sqlalchemy.engine.Engine SELECT "T_ADDRESS"."PK" AS "T_ADDRESS_PK", "T_ADDRESS"."NAME" AS "T_ADDRESS_NAME", "T_ADDRESS"."FK" AS "T_ADDRESS_FK"
FROM "T_ADDRESS"
2023-03-08 12:41:44,614 INFO sqlalchemy.engine.Engine [generated in 0.00098s] ()

True

In [179]:
userA.addresses[0].user is userA

True